/*	Start Main Rules */
 
body{
	background-color: #f4f4f4;
        font-size: 16px;
}
h1
{
	font-size: 39px;
	margin: 20px 0 ;
	font-weight: bold;
	color: #666;
	cursor: pointer;
}
.astreisk
{
	font-size: 30px;
	position: absolute;
	right: 30px;
	top: 8px;
	color: #ec3354;
}
.nice-message
{
	padding: 10px;
	background-color: #FFF;
	margin: 10px 0 ;
	border-left: 5px solid #080;
}
/*	End Main Rules */


/*	Start Login Form */
.the-errors
{
	max-width: 380px;
	margin: auto;
}
.msg
{
	padding: 10px;
	text-align: left;
	border-left: 5px solid #cd6858;
	background-color: #FFF;
	margin-bottom:5px;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	color: #919191;



}


.login , .login-signeup
{
	width: 390px;
	margin: 30px auto;
}
.login h4 , .login-signeup
{
	color: #888;
}
.login input
{
	max-width: 420px; 
	margin-bottom: 7px;
}
.login-signeup input
{
	max-width: 420px; 
	margin-bottom: 5px;
}
.login .form-control
{
	background-color: #eaeaff;
}
.login-signeup .form-control
{
	background-color: #eaeaff;
}
.login .btn
{
	background-color: #008dde;
}
.login-signeup
{
	display: none;
}
.login-page [data-class="login"] .selected{
	color: #337ab7;
}
.login-page [data-class="login-signeup"] .selected{
	color: #5cb85c;

}
.selected 
{
	color: #e02e2e;
}

/*	End Login Form */

/*	Start Bootstrap Edits */
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}

.nav > li > a,
.navbar-brand{
    padding: 15px 12px ;
}

.navbar-brand {
    font-size: 1em;
}
.navbar-inverse .navbar-nav> .open>a,
.navbar-inverse .navbar-nav> .open>a:focus,
.navbar-inverse .navbar-nav> .open>a:hover{
    
    background-color: #3498db ; 
}

.form-control
{
	position: relative;
}

/*	End Bootstrap Edits */

/*	Start Header  */
.upper-bar{
	padding: 10px;
	background-color: #FFF; 
}
/*	End Header */

/*	Start Categories Page */
	
.item-box
{
	position: relative;

}	
.item-box .price-tag{
	background-color: #FFF;
	padding: 2px 20px;
	position: absolute;
	left: 0px;
	top: 4px;
	font-weight: bolder;
	color: black;
}
/*	End Categories Page */

/*	Start Profile Page */
	
.information
{
		margin-top: 15px; 
}
.information ul 	
{
	padding: 0px;
	margin: 0px;
}
.information ul li
{
	padding: 10px
}	
.information ul li:nth-child(odd){
	background-color: #EEE;
}
.information ul li span
{
	display: inline-block;
	width: 137px;
}

/*	End Categories Page */

